---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/euw/v2.3/league/by-summoner/31747504/entry?api_key=a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"playerOrTeamId":"31747504","playerOrTeamName":"IXIOneManArmyIXI","leagueName":"Ashe''s
        Cavaliers","queueType":"RANKED_SOLO_5x5","tier":"SILVER","rank":"II","leaguePoints":0,"wins":19,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false,"lastPlayed":-1}]'
  recorded_at: Sat, 15 Feb 2014 21:23:31 GMT
recorded_with: VCR 2.8.0
