---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/euw/v1.2/stats/by-summoner/31747504/ranked?api_key=a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":31747504,"modifyDate":1391990692000,"champions":[{"id":59,"name":"JarvanIV","stats":{"totalSessionsPlayed":2,"totalSessionsLost":1,"totalSessionsWon":1,"totalChampionKills":8,"totalDamageDealt":256026,"totalDamageTaken":62473,"mostChampionKillsPerSession":4,"totalMinionKills":112,"totalDoubleKills":0,"totalTripleKills":0,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalDeathsPerSession":9,"totalGoldEarned":25091,"mostSpellsCast":0,"totalTurretsKilled":4,"totalPhysicalDamageDealt":211641,"totalMagicDamageDealt":24715,"totalFirstBlood":0,"totalAssists":39,"maxChampionsKilled":4,"maxNumDeaths":6}},{"id":89,"name":"Leona","stats":{"totalSessionsPlayed":3,"totalSessionsLost":1,"totalSessionsWon":2,"totalChampionKills":4,"totalDamageDealt":79593,"totalDamageTaken":70077,"mostChampionKillsPerSession":3,"totalMinionKills":60,"totalDoubleKills":0,"totalTripleKills":0,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalDeathsPerSession":20,"totalGoldEarned":26551,"mostSpellsCast":0,"totalTurretsKilled":1,"totalPhysicalDamageDealt":24074,"totalMagicDamageDealt":52174,"totalFir[...]
